<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CacheTTL.Default" value="60"/>
    <add key="CacheTTL.TestCacheParams" value="300"/>
    <add key="CacheTTL.Disabled.ByOffValue" value="OFF"/>
    <add key="CacheTTL.Disabled.ByOffNegativeValue" value="-1"/>
  </appSettings>
</configuration>